<footer>
    <figure ><img src="img/boy.png" id="iconBoy" alt="icono de chico con cascos" ></figure>
    <h3>VINYLOTECA:</h3>
    <p>'préstamos sonoros... la música prestosa'</p>
    <figure ><img src="img/girl.png" id= "iconGirl" alt="icono de chica con cascos" ></figure>

</footer>