<section class="container">

    <ul id= "listaDiscos">

        {{#each listaDiscos}}
            <li>
                {{>disco}}
            </li>
        {{/each}}
        
    </ul>

    
</section>