<nav>
    <ul>

        <li><a href="#">Novedades</a></li>
        <li><a href="#">Por Género</a></li>
        <li><a href="#">Por Década</a></li>
        <li><input type="search" id= "catalogSearch" name= "catalogSearch" placeholder="buscar"></li>


   </ul> 
</nav>