nav ul{
    display: flex;
    justify-content: space-around;
    background-color: black; 
    margin: 0em;
   

}

nav ul li{
    padding: 2em;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    font-family: "Ubuntu";
    text-transform: uppercase;
    font-size: 1.3em;
    color:#fff;
}